In [1]:
#Import dependencies
import pandas as pd

In [2]:
#Turn the data into a variable
weather = pd.read_csv("Resources/my_weather_df.csv")

In [3]:
#Print data to make sure the code works properly 
weather.head()

,Unnamed: 0,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Castro,-24.7911,-50.0119,84.99,31,0,8.50,BR,1600020000
1,1,Ondjiva,-17.0667,15.7333,83.48,14,3,6.38,AO,1600020000
2,2,Bosaso,11.2842,49.1816,90.07,60,3,3.40,SO,1600020000
3,3,Hermanus,-34.4187,19.2345,56.23,73,64,29.24,ZA,1600020000
4,4,Olinda,-8.0089,-34.8553,82.04,60,37,14.52,BR,1600020000

In [4]:
#Convert data from csv to html
weather.to_html("weather.html")